# <center>        **Introduction to Data Science (S2-22_DSECLZG532)-ASSIGNMENT**</center>

## Group No: 053

## Group Member Names:
1. Mohammed Mudassirullah Sheriff
2. Suraj Kumar R C
3. Bhavvya R Sureka
4. Shaurya Mehta

# 1. Business Understanding

Students are expected to identify an analytical problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?
   3. What are the different sources of data?
   4. What kind of analytics task are you performing?

Score: 1 Mark in total (0.25 mark each)

--------------Type the answers below this line--------------

1. In today's competitive business, customers hold the key for success and the customer churn is major problem 
 faced by the telecom companies in their businesses. Customer churn refers to the percentage of customers who stop 
 using a company's services within a given period. In the telecom industry, churn occurs when subscribers switch to 
 competitors, cancel their plans, or stop using the service altogether. This leads to high revenue loss, loss of 
 brand reputation and high cost of acquisition. We are looking to provide a model to help predict customer churn 
 and inturn help the business to device Optimizing Marketing Strategies, Retention Campaigns and Improve customer
 Satisfactions

2. The Key features we would require to analyze and model a solution for the above problem statement are:
 Customer Demographics, Usage Patterns, Billing & Payment Data, Customer Support Interaction, Network Quality Metrics, 
 Contract Type, Churn Label

3. Kaggle Public Datasets available in the public domain
   Dataset URL: https://www.kaggle.com/datasets/abdallahwagih/telco-customer-churn

4. EDA - Churn distribution, Churn Prediction and Churn risk customer clustering.

# 2. Data Acquisition

For the problem identified , find an appropriate data set (Your data set must
be unique with minimum **20 features and 10k rows**) from any public data source.

---



## 2.1 Download the data directly

In [22]:
##---------Type the code below this line-----------------

# Install Kaggle to download dataset from kaggle.com
! pip install kaggle

import os
os.environ['KAGGLE_USERNAME'] = 'mudassirsheriff'
os.environ['KAGGLE_KEY'] = 'f7892b671c9df4a3f144bce6aa5c0675'

# Authentication and dataset download from kaggle using Kaggle API
import kaggle as kg

kg.api.authenticate()

kg.api.dataset_download_files(dataset="abdallahwagih/telco-customer-churn", path="./dataset", unzip=True)

from huggingface_hub import hf_hub_download

REPO_ID = "aai510-group1/telco-customer-churn"
FILE_NAME = "train.csv"
hf_hub_download(repo_id=REPO_ID, filename=FILE_NAME, repo_type="dataset", local_dir="./dataset")

# Set the dataset path for further processing
kaggle_dataset_path = os.path.join(os.path.abspath(""),"dataset\Telco_customer_churn.xlsx")
hf_dataset_path = os.path.join(os.path.abspath(""),"dataset\\train.csv")

Requirement already satisfied: kaggle in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from tqdm->kaggle) (0.4.6)
Dataset URL: https://www.kaggle.com/datasets/abdallahwagih/telco-customer-churn

e:\Mudassir\MTech\Semester 1\Introduction to Data Science\IDS_Assignment_053\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## 2.2 Code for converting the above downloaded data into a dataframe

In [24]:
##---------Type the code below this line------------------##

! pip install pandas 
! pip install openpyxl

import pandas as pd

df1 = pd.read_excel(kaggle_dataset_path)

df2 = pd.read_csv(hf_dataset_path)
df2.rename(columns={"Churn": "Churn Label", "Churn Category": "Churn Value", "Customer ID": "CustomerID", "Tenure in Months": "Tenure Months", "Device Protection Plan": "Device Protection", "Monthly Charge": "Monthly Charges"}, inplace=True)

df = pd.concat([df1, df2])

Requirement already satisfied: pandas in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: openpyxl in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in e:\mudassir\mtech\semester 1\introduction to data science\ids_assignment_053\.venv\lib\site-packages (from openpyxl) (2.0.0)

## 2.3 Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [25]:
##---------Type the code below this line------------------##

# Displaying the first 5 records
df.head()

# Displaying the last 5 records
df.tail()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Quarter,Referred a Friend,Satisfaction Score,Streaming Music,Total Extra Data Charges,Total Long Distance Charges,Total Refunds,Total Revenue,Under 30,Unlimited Data
4220,2369-FEVNO,NaN,United States,California,Long Beach,90806,"33.802664, -118.179971",33.802664,-118.179971,Male,...,Q3,0.0,3.0,0.0,0.0,7.76,0.00,27.66,0.0,0.0
4221,4824-GUCBY,NaN,United States,California,San Francisco,94127,"37.736535, -122.45732",37.736535,-122.457320,Female,...,Q3,0.0,4.0,0.0,0.0,515.46,29.88,2306.48,0.0,1.0
4222,0859-YGKFW,NaN,United States,California,Olivehurst,95961,"39.082568, -121.55325",39.082568,-121.553250,Male,...,Q3,1.0,5.0,0.0,0.0,505.08,0.00,850.98,0.0,0.0
4223,0699-NDKJM,NaN,United States,California,Westlake Village,91361,"34.130992, -118.894673",34.130992,-118.894673,Female,...,Q3,1.0,3.0,1.0,0.0,0.00,0.00,3437.45,0.0,1.0
4224,7049-GKVZY,NaN,United States,California,Berkeley,94702,"37.866009, -122.286228",37.866009,-122.286228,Female,...,Q3,0.0,3.0,1.0,0.0,215.73,0.00,1603.08,0.0,1.0

## 2.4 Display the column headings, statistical information, description and statistical summary of the data.

In [26]:
##---------Type the code below this line------------------##

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11268 entries, 0 to 4224
Data columns (total 54 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CustomerID                         11268 non-null  object
 1   Count                              7043 non-null   float64
 2   Country                            11268 non-null  object
 3   State                              11268 non-null  object
 4   City                               11268 non-null  object
 5   Zip Code                           11268 non-null  int64
 6   Lat Long                           11268 non-null  object
 7   Latitude                           11268 non-null  float64
 8   Longitude                          11268 non-null  float64
 9   Gender                             11268 non-null  object
 10  Senior Citizen                     11268 non-null  object
 11  Partner                            11268 non-null  object
 12  Dependents                         11268 non-null  object
 13  Tenure Months                      11268 non-null  int64
 14  Phone Service                      11268 non-null  object
 15  Multiple Lines                     11268 non-null  object
 16  Internet Service                   11268 non-null  object
 17  Online Security                    11268 non-null  object
 18  Online Backup                      11268 non-null  object
 19  Device Protection                  11268 non-null  object
 20  Tech Support                       7043 non-null   object
 21  Streaming TV                       11268 non-null  object
 22  Streaming Movies                   11268 non-null  object
 23  Contract                           11268 non-null  object
 24  Paperless Billing                  11268 non-null  object
 25  Payment Method                     11268 non-null  object
 26  Monthly Charges                    11268 non-null  float64
 27  Total Charges                      11268 non-null  object
 28  Churn Label                        11268 non-null  object
 29  Churn Value                        8164 non-null   object
 30  Churn Score                        11268 non-null  int64
 31  CLTV                               11268 non-null  int64
 32  Churn Reason                       2990 non-null   object
 33  Age                                4225 non-null   float64
 34  Avg Monthly GB Download            4225 non-null   float64
 35  Avg Monthly Long Distance Charges  4225 non-null   float64
 36  Customer Status                    4225 non-null   object
 37  Internet Type                      3339 non-null   object
 38  Married                            4225 non-null   float64
 39  Number of Dependents               4225 non-null   float64
 40  Number of Referrals                4225 non-null   float64
 41  Offer                              1901 non-null   object
 42  Population                         4225 non-null   float64
 43  Premium Tech Support               4225 non-null   float64
 44  Quarter                            4225 non-null   object
 45  Referred a Friend                  4225 non-null   float64
 46  Satisfaction Score                 4225 non-null   float64
 47  Streaming Music                    4225 non-null   float64
 48  Total Extra Data Charges           4225 non-null   float64
 49  Total Long Distance Charges        4225 non-null   float64
 50  Total Refunds                      4225 non-null   float64
 51  Total Revenue                      4225 non-null   float64
 52  Under 30                           4225 non-null   float64
 53  Unlimited Data                     4225 non-null   float64
dtypes: float64(21), int64(4), object(29)
memory usage: 4.7+ MB

## 2.5 Write your observations from the above.
1. Size of the dataset
2. What type of data attributes are there?
3. Is there any null data that has to be cleaned?

Score: 2 Marks in total (0.25 marks for 2.1, 0.25 marks for 2.2, 0.5 marks for 2.3, 0.25 marks for 2.4, 0.75 marks for 2.5)

--------------Type the answers below this line--------------

1. The dataset consists of 11268 rows and 54 columns.

2. We have below data attributes:

3. Yes, there are null data which needs to be cleaned.

# 3. Data Preparation

If input data is numerical or categorical, do 3.1, 3.2 and 3.4
If input data is text, do 3.3 and 3.4

## 3.1 Check for

* duplicate data
* missing data
* data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.2 Apply techiniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.3 Encode categorical data

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.4 Report

Mention and justify the method adopted
* to remove duplicate data, if present
* to impute or remove missing data, if present
* to remove data inconsistencies, if present

OR for textdata
* How many tokens after step 3?
* how may tokens after stop words filtering?

If the any of the above are not present, then also add in the report below.

Score: 2 Marks (based on the dataset you have, the data prepreation you had to do and report typed, marks will be distributed between 3.1, 3.2, 3.3 and 3.4)

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.5 Identify the target variables.

* Separate the data from the target such that the dataset is in the form of (X,y) or (Features, Label)

* Discretize / Encode the target variable or perform one-hot encoding on the target or any other as and if required.

* Report the observations

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

# 4. Data Exploration using various plots

## 4.1 Scatter plot of each quantitative attribute with the target.

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 4.2 EDA using visuals
* Use (minimum) 2 plots (pair plot, heat map, correlation plot, regression plot...) to identify the optimal set of attributes that can be used for classification.
* Name them, explain why you think they can be helpful in the task and perform the plot as well. Unless proper justification for the choice of plots given, no credit will be awarded.

Score: 2 Marks

In [ ]:
##---------Type the code below this line------------------##

# 5. Data Wrangling

## 5.1 Univariate Filters

#### Numerical and Categorical Data
* Identify top 5 significant features by evaluating each feature independently with respect to the target/other variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Strenth of Association

(From the above 5 you are required to use only any <b>two</b>)



Score: 3 Marks

In [ ]:
##---------Type the code below this line------------------##

## 5.2 Report observations

Write your observations from the results of each method. Clearly justify your choice of the method.

Score 1 mark

In [ ]:
##---------Type the code below this line------------------##

# 6. Implement Machine Learning Techniques

Use any 2 ML tasks
1. Classification  

2. Clustering  

3. Association Analysis

4. Anomaly detection

You may use algorithms included in the course, e.g. Decision Tree, K-means etc. or an algorithm you learnt on your own with a brief explanation.
A clear justification have to be given for why a certain algorithm was chosen to address your problem.

Score: 4 Marks (2 marks each for each algorithm)

## 6.1 ML technique 1 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 6.2 ML technique 2 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 7. Conclusion

Compare the performance of the ML techniques used.

Derive values for preformance study metrics like accuracy, precision, recall, F1 Score, AUC-ROC etc to compare the ML algos and plot them. A proper comparision based on different metrics should be done and not just accuracy alone, only then the comparision becomes authentic. You may use Confusion matrix, classification report, Word cloud etc as per the requirement of your application/problem.

Score 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 8. Solution

What is the solution that is proposed to solve the business problem discussed in Section 1. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

Score 2 Marks

--------------Type the answers below this line--------------

##---------Type the answer below this line------------------##

##NOTE
All Late Submissions will incur a penalty of -2 marks. Do ensure on time submission to avoid penalty.

Good Luck!!!